{% extends 'base.html' %}

{% block title %} Tags // {{ super() }}{% endblock title %}

{% block content %}
    <div class="pure-u">
        <div class="content">
            <div class="posts">
                <h1 class="content-subhead">Tags</h1>
                <ul>
                {% for tag, articles in tags|sort %}
                  <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
{% endblock content %}
